In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

-Do exit reasons vary by eligibility category? Do more children in one eligibility category age out compared to leaving for other reasons?

In [33]:
eco_df = pd.read_excel ('..\\data\\TEIS-NSS Project Data 10-2022.xlsx', sheet_name='ECO with Exit21-22')

In [34]:
eco_df.head()

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
2,ET,510663.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,115.0,-44483.0,-44483.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
4,ET,506507.0,NaT,NaN,NaN,NaN,NaT,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,159.0,-44434.0,-44434.0

In [35]:
eco_df_check = eco_df['OC2 Data Check'].isin([1.0])

In [36]:
elig_df = pd.read_excel ('..\\Data\\TEIS-NSS Project Data 10-2022.xlsx', sheet_name = 'Elig Timeline Rpt 2018-2022')

In [37]:
elig_df.head()

,District,Child ID,Child Status,Child Phase,Init. IFSP Due Date,IFSP Due Date,IFSP Late Reason,Active Ref. Date,Parent Consent/Intake Date,Date Dev. Evaluator Rec'd. Ref.,...,# Days Parent Consent to Dev. Eval.,# Days Dev. Evaluator Assigned to Dev. Eval.,1st Date Requested to Receipt of Med. Records,# Days Dev. Eval. to Elig. Det.,# Days Ref. to Elig. Det.,Init. Elig. Decision,Init. Elig. Category,Init. Elig. Det. Date,Exit Date,Exit Reason
0,ET,453926,Inactive,IFSP,2019-03-04,2019-03-27,System,2019-01-18,2019-02-04,2019-01-22 00:00:00,...,17.0,30.0,NaN,4.0,38.0,Eligible,Developmental Evaluation,2019-02-25,2020-01-11,618 - Part B eligible
1,ET,431729,Inactive,IFSP,2018-10-26,2018-10-26,NaN,2018-09-11,2018-09-25,2018-09-12 00:00:00,...,0.0,13.0,NaN,6.0,20.0,Eligible,"Diagnosed Condition, Developmental Evaluation",2018-10-01,2020-12-11,618 - Part B eligibility not determined
2,ET,462474,Inactive,IFSP,2019-06-28,2019-06-14,NaN,2019-05-14,2019-05-30,2019-05-15 00:00:00,...,0.0,15.0,0.0,1.0,17.0,Eligible,Developmental Evaluation,2019-05-31,2020-11-12,618 - Part B eligibility not determined
3,ET,446841,Inactive,Eligibility,2018-11-23,NaT,NaN,2018-10-09,2018-10-25,2018-10-11 00:00:00,...,0.0,14.0,NaN,1.0,17.0,Eligible,Diagnosed Condition,2018-10-26,2020-08-12,Parent decline
4,ET,459629,Inactive,IFSP,2019-05-16,2019-04-24,NaN,2019-04-01,2019-04-10,2019-04-02 00:00:00,...,0.0,8.0,0.0,2.0,11.0,Eligible,Developmental Evaluation,2019-04-12,2019-09-26,618 - Parent withdraw

In [44]:
exit_df = pd.read_excel ('../Data/TEIS-NSS Project Data 10-2022.xlsx', sheet_name='ECO with Exit21-22')

In [38]:
elig_df['Exit Reason'].value_counts(dropna = False)

Parent decline                                                          12725
Ineligible for Part C                                                   10340
Unable to contact                                                        8748
NaN                                                                      8154
618 - Parent withdraw                                                    7111
618 - Part B eligibility not determined                                  6715
618 - Part B eligible                                                    5508
618 - Attempts to contact unsuccessful                                   2721
No meeting occurred                                                      1920
618 - Moved out of state                                                 1052
618 - Not eligible for Part B – Exit with referral to other programs      938
618 - Not eligible for Part B – Exit with no referrals                    704
Referral less than 45 days                                                608
618 - Completion of IFSP/ no longer requires services                     279
618 - Deceased                                                             62
Screening – No action is required                                          25
Name: Exit Reason, dtype: int64

In [39]:
eco_df['Exit Reason'].value_counts(dropna = False)

618 - Parent withdraw                                                   2365
618 - Part B eligible                                                   2168
618 - Part B eligibility not determined                                 2080
618 - Attempts to contact unsuccessful                                   920
618 - Not eligible for Part B – Exit with referral to other programs     355
618 - Not eligible for Part B – Exit with no referrals                   343
618 - Moved out of state                                                 305
618 - Completion of IFSP/ no longer requires services                     76
618 - Deceased                                                            20
NaN                                                                        4
Name: Exit Reason, dtype: int64

In [40]:
eco_df  = eco_df[(eco_df ['OC1 Data Check'] == 1
                            )]

In [41]:
eco_df  = eco_df[(eco_df ['OC2 Data Check'] == 1
                            )]

In [42]:
eco_df  = eco_df[(eco_df ['OC3 Data Check'] == 1
                            )]

In [43]:
eco_df.rename(columns = {'CHILD_ID':'Child ID'}, inplace = True)
eco_df

,DISTRICT,Child ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Days btw I-IFSP to Exit ECO,Days btw I-IFSP to entry ECO
0,ET,500335.0,2021-04-23,5.0,3.0,4.0,2021-10-23,6.0,3.0,4.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,206.0,183.0,0.0
1,ET,479453.0,2020-03-23,7.0,7.0,7.0,2021-08-19,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,704.0,514.0,0.0
3,ET,452482.0,2019-01-31,2.0,3.0,3.0,2021-11-22,5.0,3.0,5.0,...,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1053.0,1026.0,0.0
5,ET,494216.0,2021-01-06,2.0,4.0,6.0,2021-06-30,4.0,5.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,288.0,175.0,0.0
6,ET,449725.0,2020-08-06,4.0,5.0,7.0,2021-04-21,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,444.0,348.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8624,UC,490337.0,2020-11-09,3.0,1.0,1.0,2021-05-12,3.0,3.0,1.0,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,445.0,184.0,0.0
8626,UC,483729.0,2020-08-25,1.0,3.0,2.0,2021-08-12,6.0,6.0,6.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,416.0,352.0,0.0
8627,UC,485978.0,2020-08-19,1.0,3.0,5.0,2021-02-11,5.0,7.0,7.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,361.0,176.0,0.0
8628,UC,488802.0,2020-09-21,4.0,4.0,3.0,2021-09-09,6.0,7.0,7.0,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,353.0,353.0,0.0
8630,UC,490688.0,2020-10-27,4.0,5.0,7.0,2021-10-13,7.0,7.0,7.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,495.0,351.0,0.0